<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/static/icon.png">
    <title>SmartSpend AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="manifest" href="/static/manifest.json">
    
    <style>
    body.dark-mode {
        background-color: #121212 !important;
        color: #ffffff;
    }

    .dark-mode .card {
        background-color: #1e1e1e;
        color: #ffffff;
    }

    .dark-mode .form-control {
        background-color: #2a2a2a;
        color: #ffffff;
        border-color: #444;
    }

    .dark-mode .btn {
        border-color: #555;
    }

    .dark-mode .bg-light {
        background-color: #1e1e1e !important;
    }

    .dark-mode .bg-white {
        background-color: #2a2a2a !important;
    }

    .form-check-input {
    cursor: pointer;
    }

    body {
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .dark-mode input::placeholder {
    color: #ffffff !important;
    opacity: 0.7;
    }
</style>
    
</head>

<body class="bg-light">

<div class="container mt-5">

    <h2 class="text-center mb-4"><img src="/static/icon.png" width="30" height="30">SmartSpend AI</h2>
    <div class="card shadow p-4">

        <!-- <h2 class="text-center mb-4">SmartSpend AI</h2> -->
        <div class="d-flex justify-content-end mb-2 align-items-center gap-2">
            <span id="themeLabel">🌙</span>

            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="themeToggle" onclick="toggleTheme()">
            </div>
        </div>

        <div class="input-group mb-3">
            <input type="text" id="expenseText" class="form-control" placeholder="Enter expense (e.g. pizza 300)">
            <button class="btn btn-primary" onclick="addExpense()">Add</button>
        </div>

        <div class="alert alert-info" id="result" style="display:none;"></div>

        <div class="text-center mt-3">
            <button class="btn btn-success mt-2" onclick="showInsights()">Show Insights</button>
            <button class="btn btn-secondary mt-2" onclick="showExpenses()">Show All Expenses</button>
            <button class="btn btn-danger mt-2" onclick="deleteExpense()">Delete Last Expense</button>
        </div>
    </div>

    <div class="card shadow p-4 mt-4" id="insightsCard" style="display:none;">
        <h4>📊 Financial Insights</h4>
        <div id="insights" class="bg-white p-3 rounded border"></div>
    </div>

    <div class="card shadow p-4 mt-4" id="expensesCard" style="display:none;">
        <h4>📋 All Expenses</h4>
        <div id="expenses" class="bg-light p-3 rounded border"></div>
    </div>

</div>

<script>

window.onload = function () {
    let savedTheme = localStorage.getItem("theme");
    let toggle = document.getElementById("themeToggle");
    let label = document.getElementById("themeLabel");

    if (savedTheme === "dark") {
        document.body.classList.add("dark-mode");
        toggle.checked = true;
        label.innerText = "☀️";
    } else {
        label.innerText = "🌙";
    }
};

// let user_id = localStorage.getItem("user_id");

// if (!user_id) {
//     user_id = "user_" + Math.random().toString(36).substr(2, 9);
//     localStorage.setItem("user_id", user_id);
// }

function addExpense() {
    let text = document.getElementById("expenseText").value;

    fetch('/add', {
        method: 'POST',
        credentials: "same-origin",
        headers: { 'Content-Type': 'application/json' },
        // body: JSON.stringify({ text: text, user_id: user_id })
        body: JSON.stringify({ text: text })
    })
    .then(res => res.json())
    .then(data => {
        let resultDiv = document.getElementById("result");
        resultDiv.style.display = "block";
        resultDiv.innerHTML =
            `<strong>Category:</strong> ${data.category} <br>
             <strong>Amount:</strong> ₹${data.amount}`;
    });
}

function getInsights() {
    fetch('/insights', {
    method: 'POST',
    credentials: "same-origin",
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({})
    })
    .then(res => res.json())
    .then(data => {
        console.log("INSIGHTS DATA:", data); // 👈 ADD THIS

        let html = "";

        // Total
        html += `<h5>Total Spent: ₹${data.total_spent}</h5><hr>`;

        // Category Distribution
        html += `<h6>Category Distribution:</h6>`;
        for (let cat in data.category_distribution) {
            html += `<p>${cat.toUpperCase()}: ${data.category_distribution[cat]}%</p>`;
        }

        html += `<hr><h6>Insights:</h6>`;

        // Insights list
        if (!data.insights) {
        html += "<p>No insights available</p>";
        } else {
            data.insights.forEach(i => {
                html += `<p>• ${i}</p>`;
            });
        }

        document.getElementById("insights").innerHTML = html;
    });
}

function deleteExpense() {
    fetch('/delete', {
        method: 'POST',
        credentials: "same-origin",
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({})
    })
    .then(res => res.json())
    .then(data => {
        alert(data.message);

        // 🔥 Refresh UI automatically
        getExpenses();
        getInsights();
    });
}

// function getExpenses() {
//     fetch('/expenses')
//     .then(res => res.json())
//     .then(data => {

//         let html = "";

//         if (data.length === 0) {
//             html = "<p>No expenses found</p>";
//         } else {
//             data.forEach(item => {
//                 html += `
//                     <div style="border-bottom:1px solid #ccc; padding:8px;">
//                         <strong>${item[1]}</strong><br>
//                         Category: ${item[3]} | Amount: ₹${item[2]}
//                     </div>
//                 `;
//             });
//         }

//         document.getElementById("expenses").innerHTML = html;
//     });
// }

function toggleTheme() {
    let isDark = document.getElementById("themeToggle").checked;

    if (isDark) {
        document.body.classList.add("dark-mode");
        localStorage.setItem("theme", "dark");
        document.getElementById("themeLabel").innerText = "☀️";
    } else {
        document.body.classList.remove("dark-mode");
        localStorage.setItem("theme", "light");
        document.getElementById("themeLabel").innerText = "🌙";
    }
}

function showInsights() {
    document.getElementById("insightsCard").style.display = "block";
    document.getElementById("expensesCard").style.display = "none";

    getInsights(); // fetch data
}

function showExpenses() {
    document.getElementById("expensesCard").style.display = "block";
    document.getElementById("insightsCard").style.display = "none";

    getExpenses(); // fetch data
}

function getExpenses() {
    fetch('/expenses', {
    method: 'POST',
    credentials: "same-origin",
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({})
    })
    .then(res => res.json())
    .then(data => {

        let html = "";

        if (data.length === 0) {
            html = "<p>No expenses found</p>";
        } else {
            data.forEach(item => {
                // html += `
                //     <div class="card mb-2 p-2">
                //         <strong>${item[2]}</strong>
                //         Category: ${item[4]}
                //         Amount: ₹${item[3]}
                //     </div>
                // `;

                html += `
                    <div class="card mb-2 p-3 shadow-sm">
                        <h6>${item[2]}</h6>
                        <p class="mb-1"><strong>Category:</strong> ${item[4]}</p>
                        <p class="mb-0"><strong>Amount:</strong> ₹${item[3]}</p>
                    </div>
                `;
            });
        }

        document.getElementById("expenses").innerHTML = html;
    });
}

if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/static/service-worker.js')
    .then(() => console.log("Service Worker Registered"));
}



</script>

</body>
</html>